<!--
    <h2><b>Bonjour <%= @user.first_name %></b></h2>
    <br>
    <div class="col-xs-12 col-lg-4">
    <% if @user.photo %>
    <%= cl_image_tag @user.photo.path, height: 200, width: 250, crop: :fit %>
    <% end %>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edit-modal">
    Edit profile
    </button>
    </div>
    <div class="col-lg-5 ">
    <% if @user.first_name %>
    <h4>Prenom: <%= @user.first_name %></h4>
    <% end %>

    <% if @user.last_name %>
    <h4>Nom: <%= @user.last_name %></h4>
    <% end %>

    <h4>Email: <%= @user.email %></h4>
    </div>
  </div>
 -->
