<!-- <div class="row">
  <div class="col-md-3">
    <div class="row"><%= cl_image_tag review.user.photo.path, class: "avatar" %> </div>
  </div>
  <div class="col-md-6 review-content">
    <div class="row"><p><em><%= review.created_at.strftime("%I:%M%p") %></em></p></div>
    <div class="row message-chat"><%= review.content %></div>
  </div>
  <div class="col-md-3"></div>
</div> -->




<div class="row chat-line">
  <div class="col-md-3">
    <div class="review-user-else">
      <%= cl_image_tag review.user.photo.path, class: "avatar" %>
    </div>
  </div>  <div class="col-md-6">
<!--     <p><em><%= review.created_at.strftime("%I:%M%p") %></em></p>
 -->
    <div class="review-content-else">
      <p class="message-chat"><%= review.content %></p>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

