<% passenger = stop.user %>
<div class="passenger-photo">
<% if passenger.photo %>
  <%= cl_image_tag passenger.photo.path, class: "avatar-large bordered" %>
<% end %>
</div>

  <div class="card-element name-passenger">
      <h4 class="text-center"><%= passenger.first_name + " " + passenger.last_name %></h4>
  </div>
  <div class="card-element status-<%= stop.status.downcase %> status-font-size text-center">
    <p class="no-margin-h"><%= stop.status  %></p>
  </div>
  <hr class="hr-design">
  <div class="card-element address-info">
    <h4 class= "no-margin-h text-center"><i class="fa fa-flag"></i><%= stop.stop_address %></h4>
    <!-- <span class="occurs"><%= stop.occurs_at %></span> -->
  </div>
  <hr class="hr-design">
    <div class="card-element">
      <p class= "message-style text-center"><i class="fa fa-commenting-o"></i>"<%= stop.message %>"</p>
    </div>

<div class="flex-btn">
 <%= simple_form_for ([@traject, stop]) do |f| %>
    <button class="card-btn accept-request btn btn-primary btn-purple" type="submit" name ="status" value="Accepted" data-id="<%= j %>">Accept</button>
    <button class="card-btn btn btn-primary btn-red" type="submit" name="status" value="Refused" data-id="<%= j %>">Refuse</button>
  <% end %>
</div>




