<div class="container-fluid">


  <!-- Tab Home - the passenger view -->
  <!-- Passager -->
  <% if @user.trajects.empty? == true  %>
    <div class="tab-content <%= active_tab == 'home' ? 'active' : 'hidden'  %>" id="home">
      <%= render "traject-user" %>
    </div>
  <%else%>
    <!-- Driver -->
    <div class="tab-content <%= active_tab == 'home' ? 'active' : 'hidden'  %>" id="home">
      <%= render "traject-driver" %>
    </div>
  <% end %>
</div>

  <!-- Driver -->
  <% if @user.trajects.empty? == false  %>
  <!-- Tab Trajects - the driver view -->
    <div class="container tab-content <%= active_tab == 'trajects' ? 'active' : 'hidden'  %>" id="trajects" >
      <h1 class="text-center">Bonjour <%= @user.first_name %>, acceptez-vous ces demandes ?</h1>
      <h2 class="text-center">Places restantes: <%= @remain_seats %>/<%= @traject.seats %> </h2>
      <h2 class="text-center"> Ma voiture :</h2>
      <div class="car-people">
        <% @stops.each do |stop| %>
          <% if stop.status == "Accepted" %>
            <% if stop.user.photo %>
              <div >
                <%= cl_image_tag stop.user.photo.path, class: "avatar-large" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="container-fluid navbar-marged">
        <div class="row-fluid">
          <div class="col-xs-6">
            <% @stops.each_with_index do |stop, i| %>
              <% if stop.status == "Pending" %>
                <div class="card-flexbox hidden" id="message-<%= i %>" data-id="<%= i %>">
                  <%= render 'stop-card', stop: stop, i: i %>
                </div>
              <% end %>
            <% end %>
            <% if @pending_requests.zero? %>
              <h4>Vous n'avez pas de nouvelles demandes</h4>
            <% end %>
          </div>
          <div class="col-xs-6">
            <%= render 'tab-requests' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<!-- Tab Profile -->
<div class="container tab-content <%= active_tab == 'profile' ? 'active' : 'hidden'  %>" id="profile" >
  <h2><b>Bonjour <%= @user.first_name %></b></h2>
  <br>
  <div class="col-xs-12 col-lg-4">
    <% if @user.photo %>
    <%= cl_image_tag @user.photo.path, height: 200, width: 200, crop: :fit %>
    <% end %>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-purple" data-toggle="modal" data-target="#edit-modal">
    Edit profile
    </button>
  </div>
  <div class="col-lg-5 ">
    <% if @user.first_name %>
      <h4>Prenom: <%= @user.first_name %></h4>
    <% end %>
    <% if @user.last_name %>
      <h4>Nom: <%= @user.last_name %></h4>
    <% end %>
    <h4>Email: <%= @user.email %></h4>
    <% if @user.phone %>
      <h4>Téléphone: <%= @user.phone %></h4>
    <% end %>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= simple_form_for @user, id: "edit-profile-form" do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> Editer le profil </h4>
          </div>
          <div class="modal-body">
             <%= render 'users/form', user: @user, f: f %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

            <%= f.submit "Enregistrer les modifications", class: "btn btn-primary btn-purple" %>

            </div>
          <% end %>
      </div>
    </div>
  </div>

</div>

