<div class="container-fluid text-center">


<!-- Tab Home - the passenger view -->
<!-- Passager -->
  <% if @user.trajects.empty? == true  %>
    <div class="tab-content <%= active_tab == 'home' ? 'active' : 'hidden'  %>" id="home">
      <%= render "traject-user" %>
    </div>
  <%else%>
<!-- Driver -->
    <div class="tab-content <%= active_tab == 'home' ? 'active' : 'hidden'  %>" id="home">
    <%= render "traject-driver" %>
    </div>
  <%end%>


<!-- Driver -->
<% if @user.trajects.empty? == false  %>
<!-- Tab Trajects - the driver view -->
  <div class="container tab-content <%= active_tab == 'trajects' ? 'active' : 'hidden'  %>" id="trajects" >
    <h1 class="text-center">Bonjour <%= @user.first_name %>, acceptez-vous ces demandes ?</h1>
    <h2 class="text-center">Places restantes: <%= @remain_seats %>/<%= @traject.seats %> </h2>
    <h2 class="text-center"> Ma voiture :</h2>
    <div id="car-people"></div>

<div class="container-fluid navbar-marged">
  <div class="row-fluid">
    <div class="col-xs-7">
      <% @stops.each_with_index do |stop, i| %>
      <% if stop.status == "Pending" %>
      <% j= 0 %>
        <div class="card-flexbox hidden" id="message-<%= i %>">
          <%= render 'stop-card', stop: stop, i: i %>
      <% end %>
      </div>
      <% end %>
      <% if j= 0 %>
        <h4>Vous n'avez pas de nouvelles demandes</h4>
      <% end %>
   </div>

    <div class="col-xs-5">
      <%= render 'stop-gmap' %>
    </div>

  </div>
</div>

<% content_for :after_js do %>
  <script>

  $(document).ready(function() {
    $("#message-0").removeClass('hidden');
  });

  $(".card-btn").on("click", function(){
    var id = $(this).data("id");
    $("#message-" + id).fadeOut(300, function() {
    $("#message-" + id).addClass('hidden');
    id += 1;
    $("#message-" + id).fadeIn(400).removeClass('hidden');
     });
  });

  </script>
<% end %>
</div>
<% end %>



<!-- Tab Profile -->
    <div class="container tab-content <%= active_tab == 'profile' ? 'active' : 'hidden'  %>" id="profile" >
    <h2><b>Bonjour <%= @user.first_name %></b></h2>
    <br>
    <div class="col-xs-12 col-lg-4">
    <% if @user.photo %>
    <%= cl_image_tag @user.photo.path, height: 200, width: 200, crop: :fit %>
    <% end %>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edit-modal">
    Edit profile
    </button>
    </div>
    <div class="col-lg-5 ">
    <% if @user.first_name %>
    <h4>Prenom: <%= @user.first_name %></h4>
    <% end %>
    <% if @user.last_name %>
    <h4>Nom: <%= @user.last_name %></h4>
    <% end %>
    <h4>Email: <%= @user.email %></h4>
    </div>
    </div>

<!-- Modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= simple_form_for @user, id: "edit-profile-form" do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> Editer le profil </h4>
          </div>
          <div class="modal-body">
             <%= render 'users/form', user: @user, f: f %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <%= f.submit "Enregistrer les modifications", class: "btn btn-primary" %>

            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


