 <h1 class = "text-center navbar-marged">Your best traject</h1>

<div class="container">
  <div class="row navbar-marged">
    <div class="col-xs-12 col-md-8">

  <!-- traject ticket -->
      <div class="row card-ticket">
          <!-- image travel -->
        <div class="col-xs-12 col-md-3 nopadding photo-ticket-traject" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path "ioosfcxh8uwjz49aikrg" %>');">
       </div>

          <!-- information travel -->
          <div class="col-xs-12 col-md-9">
            <div class="row text-center">
            <!-- depart information -->
              <div class="col-xs-12 col-md-10 border-right">
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-city text-center"><%= @town %> </p>
                  </div>
                  <div class="col-xs-12 col-md-2">
                    <i class="fa fa-road fa-3x" id="logo-road" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-city text-center">Vieilles Charrues</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-address"><%= @address_passenger %></p>
                  </div>
                  <div class="col-xs-12 col-md-2">

                  </div>
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-address"><%= @charrues %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-hours"><%= @stop_time %></p>
                  </div>
                  <div class="col-xs-12 col-md-2"></div>
                  <div class="col-xs-12 col-md-5">
                    <p class="ticket-hours"><%= @end_time %></p>
                  </div>
                </div>
              </div>

              <!-- price information -->
              <div class="col-xs-12 col-md-2 text-center">
                <div class="card">
                  <span class="ticket-price">15€</span>
                </div>
              </div>
            </div>

            <!-- driver and passengers presentation -->
            <div class="row ticket-driver">
              <div class="container-driver">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="row">
                      <div class="col-xs-12 col-md-12 driver-name-traject">
                        <b><p> <%= @driver.first_name %> <%= @driver.last_name %></p></b>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-12"><em> <p><%= @start_address %></p></em></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-12"><em><p><%= @traject.description %></p></em></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-xs-12"> <p>PASSAGERS:  Aucun</p> </div> -->
            </div>
          <div class="col-xs-12 text-center">
           <% if @user_stop.status == "Pending" %>
            <p class="status" style="color:#efb73e">Pending</p>
          <% elsif @user_stop.status == "Refused" %>
            <p class="status" style="color:red">Refused</p>
          <% elsif @user_stop.status == "Accepted"%>
           <p class="status" style="color:green">Accepted</p>
          <% end %>
          </div>
        </div>
      </div>


      <!-- Reviews -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9 reviews-container">
        <h3> Messages </h3>

        <% @reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </div>
    </div>

     <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-9 form-review">
         <%= simple_form_for([ @traject, @review ], remote: true) do |form| %>
            <%= form.input :content, as: :text %>
            <%= form.button :submit %>
          <% end %>
       </div>
     </div>
    </div>

  <!-- Google map traject -->
  <div class="col-xs-12 col-md-4">
    <div id="map-traject-user" style="width: 100%; height: 400px;"></div>
  </div>
</div>



<% content_for(:after_js1) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.ticket-address').textfill({
        maxFontPixels: 14
       });
      $('.ticket-city').textfill({
        maxFontPixels: 37
      });
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-traject-user' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });

  <% end %>
<% end %>
