<% passenger = stop.user %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4">
     <%= cl_image_tag passenger.photo.path, class: "avatar-large" %>
    </div>
    <div class="col-xs-12 col-md-offset-3">
      <h4><%= passenger.first_name + " " + passenger.last_name %></h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <!--   <% date = stop.created_at %>
      <p class="date-position"><%= date.strftime("%Y-%m-%d %H:%M:%S") %></p> -->
        <p class= "message-position message-style">"<%= stop.message %>"</p>
    </div>
  </div>
</div>

<div class="button-position">
  <div class="container-fluid">
    <div class="row padding-row">
        <%= simple_form_for ([@traject, stop]) do |f| %>
      <div class="col-xs-5 col-md-offset-1">
        <%= f.input :status, :collection => ["Accepted","Refused"], label: false  %>
      </div>
      <div class="col-xs-3">
        <%= f.submit "Décider", class: "btn btn-primary btn-home" %>
      </div>
        <% end %>
    </div>
  </div>
</div>

<%= render 'status-color', stop: stop %>
