<div class="wrapper-messages">
<div class="header-messages navbar-marged">
<h1 class="text-center">Bonjour <%= @user.first_name %>, acceptez-vous ces demandes ?</h1>
<h2 class="text-center">Places restantes: <%= @remain_seats %>/<%= @traject.seats %> </h2>

  <h2 class="text-center"> Ma voiture :</h2>
  <div id="car-people"></div>



</div>

  <div class="container-fluid navbar-marged">
    <div class="row-fluid">
      <div class="col-xs-7">
        <% @stops.each_with_index do |stop, i| %>
          <div class="col-xs-6 col-md-offset-2 message-container hidden" id="message-<%= i %>">
            <%= render 'stop-card', stop: stop %>
            <div>
             <%= simple_form_for ([@traject, stop]) do |f| %>
              <div class="col-xs-4 col-md-offset-2">
                <button class="btn_card" type="submit" name ="status" value="Accepted" data-id="<%= i %>"><i class= "fa fa-thumbs-up"></i> </button>
                <button class="btn_card" type="submit" name="status" value="Refused" data-id="<%= i %>"><i class= "fa fa-thumbs-down"></i> </button>
              </div>
          </div>
        <% end %>


        </div>
        <% end %>
      </div>

      <div class="col-xs-5">
        <%= render 'stop-gmap' %>
      </div>

    </div>
  </div>
</div>

<% content_for :after_js do %>

  <script>

  $(document).ready(function() {
    $("#message-0").removeClass('hidden');
    $("#btn_card-0").removeClass('hidden');
  });

  $(".btn_card").on("click", function(){
    var id = $(this).data("id");
    $("#message-" + id).addClass('hidden');
    id += 1;
    $("#message-" + id).removeClass('hidden');
  });

  </script>

<% end %>



   <!--  <% @stops.each do |stop| %>
      <% if stop.status == 'Accepted' %>
        $('#car-people').append('<%= cl_image_tag stop.user.photo.path, class: "avatar-large center" %>');
      <% end %>
     <% if stop.status == 'Refused' %>
     $('#car-people').remove('<%= cl_image_tag stop.user.photo.path, class: "avatar-large center" %>');
    <% end %>
    <%end%> -->
