<div class="wrapper-messages">
<div class="header-messages navbar-marged">
<h1 class="text-center">Bonjour <%= @user.first_name %>, acceptez-vous ces demandes ?</h1>
<h2 class="text-center">Places restantes: <%= @remain_seats %>/<%= @traject.seats %> </h2>

</div>

  <div class="container-fluid navbar-marged">
    <div class="row-fluid">
      <div class="col-xs-7">
        <% @stops.each_with_index do |stop, i| %>
          <% if i == 1 %>
          <div class="col-xs-6 col-md-offset-3 message-container active" id="message-<%=stop.id%>">
            <%= render 'stop-card', stop: stop %>
          </div>
          <% else %>
          <div class="col-xs-6 col-md-offset-3 message-container hidden" id="message-<%=stop.id%>">
            <%= render 'stop-card', stop: stop %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-5">
        <%= render 'stop-gmap' %>
      </div>
    </div>
  </div>
</div>
<!-- <h2><%= link_to "My requests", traject_stops_path(@user.trajects[0].id) %></h2> -->
