<!-- loader before result -->
<div id="page">
  <div id="phrase_box">
    <svg width="100%" height="100%">
      <defs>
<!--         <style type="text/css">
          @font-face {
            font-family: "Proxima";
            src: url('');
          }
        </style> -->
        <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
          <linearGradient id="linearGradient" gradientUnits="objectBoundingBox" x2="0" y2="1">
            <stop stop-color="white" stop-opacity="0" offset="0%"/>
            <stop stop-color="white" stop-opacity="1" offset="30%"/>
            <stop stop-color="white" stop-opacity="1" offset="70%"/>
            <stop stop-color="white" stop-opacity="0" offset="100%"/>
          </linearGradient>
          <rect width="100%" height="100%" fill="url(#linearGradient)"/>
        </mask>
      </defs>
      <g width="100%" height="100%" style="mask: url(#mask);">
        <g id="phrases"></g>
      </g>
    </svg>
    </div>
    <div id="footer">
      <div id="logo"></div>Nous recherchons votre trajet optimal
    </div>
  </div>
</div>

<!-- page after loader -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(89, 60, 250, 0.94),rgba(60,250,238,0.94)40%,rgba(0,36,61,0.8)40%),url(<%= image_path('home_welcome_picture.jpg')%>)">
  <div class="container">
    <h1 class = "navbar-marged h1-white">Trajet proposé</h1>
    <div class="marged-top">
      <div class="col-xs-12 col-md-8">

<!-- new ticket flex box-->
        <div class="card-ticket">
          <div class="card-ticket-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path "ioosfcxh8uwjz49aikrg" %>');"></div>

          <!-- description -->
          <div class="card-ticket-description">
            <!-- pricing -->
            <div class="card-ticket-price">
              <span class="ticket-price">15€</span>
            </div>
            <!-- information depart -->
            <div class="card-ticket-traject">
              <div class="card-ticket-traject-detail">
                <h2><%= @town %></h2>
                <p><%= @address_passenger %></p>
              </div>
              <div class="card-ticket-traject-hours">
                <span><%= @stop_time_start %></span>
              </div>
            </div>
            <hr>

            <!-- information arrival -->
            <div class="card-ticket-traject">
              <div class="card-ticket-traject-detail">
                <h2>Vieilles Charrues</h2>
                <p><%= @charrues %></p>
              </div>
              <div class="card-ticket-traject-hours">
                <span><%= @end_time %></span>
              </div>
            </div>
            <hr>

            <!-- information driver -->
            <div class="card-ticket-driver">
              <p> <%= image_tag('steering-wheel.png', class: "volant")%> <%= @driver_key %> </p>
            </div>

            <!-- call to action -->
            <div class="card-ticket-bouton" id="btn-bookconfirm">
              <button type="button" class="btn btn-primary btn-purple" data-toggle="modal" data-target="#myModal">Réserver</button>
            </div>

          </div>
        </div>

        <div class="" id="btn-nv-recherche" >
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i><%= link_to "  Nouvelle recherche", root_path, method: :get %>
        </div>
      </div>

    <!-- Google map traject -->
      <div class="col-xs-12 col-md-4">
        <div id="map" style="width: 100%; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      setTimeout(function() {
        $('#page').fadeOut('fast');
        }, 6500);

      $('.ticket-address').textfill({
        maxFontPixels: 14
       });
      $('.ticket-city').textfill({
        maxFontPixels: 37
      });

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Voulez-vous envoyer un message à <%= @driver_key %> ? </h4>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
          <%= simple_form_for([@traject, @stop]) do |f| %>
            <%= f.input :message, class: "message-text" %>
            <%= f.hidden_field :traject_id, value: @traject_id %>
            <%= f.hidden_field :stop_address, value: @address_search %>
            <%= f.hidden_field :stop_time, value: @stop_time_start %>
            <%= f.hidden_field :end_time, value: @end_time %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Valider", class: "btn btn-primary btn-purple btn-click" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

