<h1>Your best traject</h1>


<h2> <%= @driver_key %></h2>
<h3> <%= @start_time %></h3>
<p> <%= @start_address %></p>

<h3> <%= @post_time_start %></h3>
<p> <%= @address_passenger %></p>
<p> <%= @post_time_end %></p>

<h3> <%= @end_time %></h3>
<p> <%= @end_address %></p>


<p> <%= @result.vehicleRoutes[@driver_key] %></p>

