<h1>Your best traject</h1>

<div class="container">
  <div class="row navbar-marged">
    <div class="col-xs-12 col-md-8">

  <!-- traject ticket -->
      <div class="row card-ticket">
          <!-- image travel -->
        <div class="col-xs-12 col-md-3 nopadding">
          <div class="g-item">
            <%#= cl_image_tag("ioosfcxh8uwjz49aikrg", :crop => :scale, :width => 0.8)%>
            <%=cl_image_tag("ioosfcxh8uwjz49aikrg", :width => 200, :height => 300, :crop => :fill)%>
          </div>
        </div>

          <!-- information travel -->
          <div class="col-xs-12 col-md-9">
            <div class="row text-center">
            <!-- depart information -->
              <div class="col-xs-12 col-sm-10">
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-city text-center">Rennes</p>
                  </div>
                  <div class="col-xs-12 col-sm-2">
                    <i class="fa fa-road fa-3x" id="logo-road" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-city text-center">Vieilles Charrues</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-address"><%= @address_passenger %></p>
                  </div>
                  <div class="col-xs-12 col-sm-2">

                  </div>
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-address"><%= @end_address %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-hours"><%= @stop_time_start %></p>
                  </div>
                  <div class="col-xs-12 col-sm-2"></div>
                  <div class="col-xs-12 col-sm-5">
                    <p class="ticket-hours"><%= @end_time %></p>
                  </div>
                </div>
              </div>

              <!-- price information -->
              <div class="col-xs-12 col-sm-2 text-center border-price">
                <div class="card">
                  <span class="ticket-price">15€</span>
                </div>
              </div>
            </div>

            <!-- driver and passengers presentation -->
            <div class="row ticket-driver">
              <div class="col-xs-12"> <p>DRIVER:  <%= @driver_key %> </p> </div>
              <div class="col-xs-12"> <p>PASSAGERS:  Aucun</p> </div>
            </div>
          </div>
      </div>

            <!-- button book -->
            <div class="row">
              <div class="col-xs-12" id="btn-bookconfirm">
                <%= link_to "Réserver cet aller", '#', class: "btn btn-primary"%>
              </div>
            </div>
        </div>

  <!-- Google map traject -->
      <div class="col-xs-12 col-md-4">
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.ticket-address').textfill({
        maxFontPixels: 14
       });
      $('.ticket-city').textfill({
        maxFontPixels: 37
      });
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });

  <% end %>
<% end %>


